/* Fundo geral */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #E8E814;
}

/* Container principal */
.page-container {
  width: 80%;
  min-height: 100vh;
  padding: 20px;
}

/* Topo */
.top-bar {
  display: flex;
  align-items: center;
  color: #E8E814;
}

.top-bar h1 {
  flex: 1;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

/* Logo do topo */
.logo-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

/* Caixas */
.box {
  background-color: #166755;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

/* Fotos individuais */
.box img {
  width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.25s ease;
}






/* Foto do grupo */ 
.foto-grupo-container {
background-color: #166755;
padding: 30px;
border-radius: 15px;
width: 89%;
margin: 20px auto;
display: flex;
justify-content: center; 
display: flex;
flex-direction: row;
align-items: center;

h1{
  margin-bottom: 20px;
 
  color: #ffffff;
}
}

/* Hover na foto do grupo */
.foto-grupo-img:hover {
  transform: scale(1.06);
transition: 0.25s ease;

}

.foto-grupo-img {
  width: 380px;   
  height: auto;
  border-radius: 12px;
  transition: 0.25s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #166755;
  width: 97%;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contatos */
.footer-contacts p {
  margin: 5px 0;
  font-size: 16px;
  color: #E8E814;
  padding: 5px;
}


.logo-img {
  width: 280px;
  height: 280px;
 display: flex;
 justify-content: center;
 align-self: center;
 border-radius: 10%;

}

.logo-img:hover {
  transform: scale(1.06);
  transition: 0.25s ease;
}


.individual{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
  
  h2{
    margin-top: 10px;
    color: #ffffff;
  }
}


.individual:hover {
  transform: scale(1.10);
  transition: 0.25s ease;
}


.titli{
  color: #166755;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.novadiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.divrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}