.container {
  background: #0f4e45;
  min-height: 150vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/* Header */
.headerBox {
  background: #146754;
  width: 90%;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.title {
  color: #d7ff00;
  font-size: 28px;
  margin: 0;
}

.subtitle {
  color: #d7ff00;
  margin-bottom: 25px;
}

.mainButton {
  background: #f6ff3a;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* Features */
.featuresRow {
  display: flex;
  gap: 20px;
  width: 90%;
  justify-content: center;
}

.featureBox {
  background: #146754;
  color: #ccff66;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  font-weight: bold;
}

/* Chat Section */
.chatSection {
  background: #146754;
  width: 90%;
  padding: 20px;
  border-radius: 12px;
}

.chatTitle {
  color: #d7ff00;
  margin-bottom: 15px;
}

.chatContent {
  display: flex;
  gap: 20px;
}

.leftInfoBox {
  flex: 1;
  background: #2eb897;
  padding: 15px;
  border-radius: 10px;
}

.textBlock {
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
}

.textBlockSmall {
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
}

/* Chat Box */
.chatBox {
  flex: 1;
  background: #003e34;
  padding: 15px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  background: #1fa16b;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
}

.inputArea {
  margin-top: auto;
  display: flex;
  gap: 5px;
}

.input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.sendBtn {
  background: #1fa16b;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

/* Footer */
.footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footerBtn {
  background: #f6ff3a;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.logoBtn {
  background: #f6ff3a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
