.container-brasil {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 3px solid #047c3f; /* verde escuro do Brasil */
}

.container-brasil h2 {
  text-align: center;
  color: #047c3f;
  margin-bottom: 20px;
  font-weight: bold;
}

.container-brasil input,
.container-brasil textarea,
.container-brasil select {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #047c3f;
  background: #f0fff4;
  margin-bottom: 12px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.container-brasil input:focus,
.container-brasil textarea:focus,
.container-brasil select:focus {
  border-color: #f7c600; /* amarelo */
  background: #fffdf0;
}

.botao-brasil {
  background: linear-gradient(90deg, #047c3f, #0a9b50);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
  transition: 0.2s;
}

.botao-brasil:hover {
  background: linear-gradient(90deg, #0a9b50, #047c3f);
  transform: scale(1.02);
}

.resultado-box {
  margin-top: 20px;
  padding: 20px;
  background: #e6f7ff;
  border: 2px solid #0057a0; /* azul da bandeira */
  border-radius: 12px;
  color: #000;
  max-width: 50%;
}

.botao-pdf {
  background: #f7c600;
  color: #000;
  padding: 12px;
  border: none;
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-pdf:hover {
  background: #ffd900;
}

.formulario-atividade {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 90%;
  height: 60vh;
  border: #047c3f 2px solid;
  padding: 15px;
  border-radius: 12px;
  margin-right: 1em;
  justify-content: center;
}

.linha-separadora {
  display: flex;
  justify-content: center;
}

.imagem-decorativa {
  max-width: 35vw;
  margin: 10px;
  margin-right: 1em;
  height: auto;
}

.container-atividade {
  display: flex;
  align-items: center;
  flex-direction: column;
}
